body{
	padding: 0;
	margin: 0;
	background-color: #f2f8ff;
}
a{
	text-decoration: none;
	color: white;
}
header{
	height: 60px;
	display: flex;
	justify-content: center;
}
.menu{
	width: 1170px;
	display: flex;
}
.menu a{
	background:  #0f6ddb;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	font-size: 25px;
	transition: background 0.5s;
}
.menu a:hover{
	background: #215fa6;
}
.landing{
	height: 570px;
	background-color: #0077ff;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.landing h1{font-size: 80px;}
.landing h3{font-size: 30px;}
.text{
	height: 150px;
	background-color: #7eb3f2;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text>img{
	width: 100px;
}
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
}
.buy{
	height: 150px;
	background-color: #7eb3f2;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search {
  background: #e7f4f8;
  height: 200px;
}

.search .search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.search .search__content input, .search .search__content select {
  width: 90%;
  height: 40px;
  border: 1px solid gray;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

.search .search__content .search__logo {
  width: 20%;
  font-size: 30px;
  text-transform: uppercase;
}

.search .search__content .search__name {
  width: 30%;
}

.search .search__content .search__year {
  width: 15%;
}

.search .search__content .search__host {
  width: 15%;
}

.search .search__content .search__button {
  width: 20%;
  background: #ff8261;
  text-align: center;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.search .search__content .search__button a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.search .search__content .search__button:hover {
  background-color: #52cbf8;
}
#kartynka{
	margin: 10px;
	width: 400px;
	height: 220px;
}